.container {
    background-color: #090B18;
    height: 814px;
    padding-left: 120px;
    display: flex;
}

.details-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 221px;

}


.details-container button {
    padding: 12px 24px;
    background-color: #232426;
    border-radius: 6px;
    color: #FAFAFA;
    font-family: 'CabinetGroteskBold';
    font-size: 24px;
    width: fit-content;
    border: none;
}

.title {
    font-size: 48px;
    font-family: 'CabinetGroteskExtraBold';
    color: #FAFAFA;
    margin-bottom: 42px;
}

.header-text {
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 24px;
    font-family: 'CabinetGroteskRegular';
    font-family: 24px;

}

.para1 {
    font-size: 18px;
    font-family: 'CabinetGroteskRegular';
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 24px;
    max-width: 447px;
}

.para2 {
    font-size: 18px;
    font-family: 'CabinetGroteskRegular';
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 64px;
    max-width: 447px;
}

.chart-container {
    width: 50%;
    background-image: url('../../../public/Images/AMMCircuit.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagram {
    width: 401px;
    height: 418px;


}

@media screen and (max-width: 1200px) {
    .container {
        background-color: #090B18;
        height: auto;
       padding-left: 0;
        flex-direction: column;
    }

    .details-container {
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        width: auto !important;
        padding-left: 24px;
        margin-bottom: 56px;

    }

    .details-container button {
        font-size: 16px;
    }

    .title {
        font-size: 24px;
    }

    .header-text {
        font-family: 18px;
    }

    .para1 {
        font-size: 16px;
        max-width: 330px;
    }

    .para2 {
        font-size: 16px;
        max-width: 330px;
    }


    .chart-container {
        width: 100%;
        background-image: url('../../../public/Images/AMM-mobile-circuit.png');
        height: 595px;

        margin-bottom: 125px;
    }

    .diagram {
        width: 370px;
        height: 385.69px;
    }


}