.footer {
    background-color: #090B18;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;

    padding-bottom: 184px;

    position: relative;
}

.left-desktop-div {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.border {
    max-width: 1257px;
    width: 100%;
    height: 1px;
    background-color: #5C5959;
}

.footer-content-desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 76px;
    width: 100%;
}

.quickswap-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quickswap-div img {
    width: 249px;
    height: 65.6px;
}

.quickswap-div span {
    font-size: 18px;
    font-family: 'CabinetGroteskBold';
    color: #808080;
}

.community-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.community-div span {
    font-size: 34px;
    font-family: 'CabinetGroteskBold';
    color: #FFFFFF;
}

.community-icons {
    display: flex;
    gap: 48px;
}

.community-icon {
    width: 34px;
    height: 34px;
}

.right-desktop-div {
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.copyright {
    color: #808080;
    font-size: 18px;
    font-family: 'CabinetGroteskBold';
    text-align: right;
}

.protocols-and-resources {
    display: flex;
    gap: 93px;
}

.protocols-div {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.protocols-div span {
    font-size: 28px;
    font-family: 'CabinetGroteskBold';
    color: #FFFFFF;
}

.protocols-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.protocol-link {
    text-decoration: none;
    font-size: 24px;
    font-family: 'CabinetGroteskMedium';
    color: #808080;
}

.resources-div {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.resources-div span {
    font-size: 28px;
    font-family: 'CabinetGroteskBold';
    color: #FFFFFF;
}

.resources-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.resources-link {
    text-decoration: none;
    font-size: 24px;
    font-family: 'CabinetGroteskMedium';
    color: #808080;
}

.footer-ellipse {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 600px;
    height: 600px;
}

.footer-ellipse-mobile {
display: none;
}


.footer-content-mobile {
    display: none;
}

@media screen and (max-width: 930px) {

    .footer-ellipse {
        display: none;
    }

    .footer-ellipse-mobile {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;

        width: 275px;
        height: 275px;
    }

    .footer {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 255px;


    }

    .border {
        max-width: 354px;
    }

    .footer-content-desktop {
        display: none;
    }

    .footer-content-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 99px;
    }

    .quickswap-div {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 76px;
    }

    .quickswap-div span {
        font-size: 16px;
    }


    .protocols-and-resources {
        display: flex;
        gap: 100px;

        margin-bottom: 84px;
    }

    .protocols-div span {
        font-size: 24px;
    }

    .protocol-link {
        font-size: 18px;
    }


    .resources-div span {
        font-size: 24px;
    }


    .resources-link {
        font-size: 18px;
    }


    .community-div {
        margin-bottom: 119px;
    }

    .community-div span {
        font-size: 28px;
        text-align: center;
    }

    .community-icons {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }

}