body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'CabinetGroteskBold';
  src: url(../public/Fonts/CabinetGrotesk-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'CabinetGroteskRegular';
  src: url(../public/Fonts/CabinetGrotesk-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'CabinetGroteskMedium';
  src: url(../public/Fonts/CabinetGrotesk-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'CabinetGroteskExtraBold';
  src: url(../public/Fonts/CabinetGrotesk-Extrabold.otf) format('opentype');
}

@font-face {
  font-family: 'CabinetGroteskThin';
  src: url(../public/Fonts/CabinetGrotesk-Thin.otf) format('opentype');
}
